<!-- Header Site Title -->
<header class="page-header">
  <h1 class="site-title">
    <a href="/games">
      Games
    </a>
  </h1>
</header>

<!-- Game Index -->
<div id="games" class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <% [
      {
        :uri => 'games/geo-space',
        :title => 'Geo-Space',
        :description => 'A fun little space shooter I put together in Flash using the Flixel framework.',
        :image_url => 'https://s3.amazonaws.com/bw.bideowego/images/geo_space.png'
      },
      {
        :uri => 'games/tankd',
        :title => 'Tankd',
        :description => 'A top down Tank game I made basically from scratch in Flash with Box2D.',
        :image_url => 'https://s3.amazonaws.com/bw.bideowego/images/tankd.png'
      }
    ].each do |game| %>

      <!-- Game -->
      <div class="game media">
        <div class="media-left">
          <a href="<%= game[:uri] %>">
            <img class="media-object" src="<%= game[:image_url] %>" alt="Image">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="<%= game[:uri] %>">
              <%= game[:title] %>
            </a>
            <small>
              <i class="fa fa-gamepad"></i>
            </small>
          </h4>
          <div class="excerpt">
            <p>
              <%= game[:description] %>
            </p>
          </div>
        </div>
      </div>

    <% end %>


  </div>
</div><!-- games -->



