<% content_for :head do %>
  <!-- SWFObject -->
  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<% end %>

<!-- Header Site Title -->
<header class="page-header">
  <h1 class="site-title">
    <a href="/games/games-show">
      <%= title %>
    </a>
  </h1>
</header>

<!-- Game -->
<div class="game row text-dark">
  <div class="col-xs-10 col-xs-offset-1 well">

    <div style="width: 800px; height: 600px; margin: 0 auto;">
      <div id="game"></div>
    </div>

    <article>
      <h2 class="text-center">
        <%= title %>
      </h2>

      <p><%= game['description'] %></p>

      <p><%= game['instructions'] %></p>
    </article>

  </div>
</div><!-- game row -->


<script>
  $(document).ready(function() {
    swfobject.embedSWF(
      "<%= game['url'] %>",
      "game",
      "800px",
      "600px",
      "9"
    );
  });
</script>


