<!-- Header Site Title -->
<header class="page-header">
  <h1 class="site-title">
    <a href="/blog">
      Blog
    </a>
  </h1>
</header>


<!-- Post Index -->
<div id="posts" class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    

    <% [
      {
        :title => 'Reversing a Linked List in a Single Loop',
        :uri => 'reversing-a-linked-list-in-a-single-loop',
        :date => 'Monday, February 29 2016',
        :categories => ['Algorithm'],
        :tags => ['ruby'],
        :description => 'An in depth look at how to reverse a linked list with 1 loop.'
      },
      {
        :title => 'Time Series Data with SQL GROUP BY',
        :uri => 'time-series-data-with-sql-group-by',
        :date => 'Monday, February 29 2016',
        :categories => ['Database'],
        :tags => ['sql'],
        :description => 'Optimizing time series data generation.'
      }
    ].each do |post| %>

      <!-- Post -->
      <div class="post row">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="https://s3.amazonaws.com/bw.bideowego/images/bw.png" alt="Image">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="/<%= post[:uri] %>">
                <%= post[:title] %>
              </a>
              <small>
                <i class="fa fa-calendar"></i>
                <%= post[:date] %>
              </small>
            </h4>
            <p>
              <i class="fa fa-columns"></i>
              <%= post[:categories].join(', ') %>
            </p>
            <p>
              <i class="fa fa-tags"></i>
              <%= post[:tags].map { |tag| "##{tag}" }.join(', ') %>
            </p>
            <div class="excerpt">
              <p>
                <%= post[:description] %>
              </p>
            </div>
          </div>
        </div>
      </div><!-- post -->

    <% end %>


  </div>
</div><!-- posts -->



